<html>
    <head>
    </head>
    <body>
        <h1>Are you sure you want to delete the following course?</h1>
        <h2> Name:  {{ course.name }} </h2>
        <h3> Description: {{ course.description }} </h3>
        <form action="/delete" method = "post">
            {% csrf_token %}
             <input type="hidden" value="{{course.id}}" name="hidden">
            <input type="submit" value="yes">
        </form>
        <form action="/index" method = "post">
            {% csrf_token %}
           
            <input type="submit" value="no">
            
        </form>